@charset "UTF-8";

body {}
.ico_friends {
    display: block;
    background: url(../img/ico_friends.png) no-repeat 0 0 / 700px 800px; /* 축약형에서는 앞에 '좌표 / 크기' 순서로 입력, 숫자 하나만 쓰면 무조건 좌표로 인식 */
    font-size: 1px; /* 글씨를 보이지 않게 */
    color: transparent; /* 글씨색 : 투명*/
    overflow: hidden;
}
.ico_dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ec4217;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 1px; /* 글씨를 보이지 않게 */
    color: transparent; /* 글씨색 : 투명*/
    line-height: 0;
}
button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

#container {
    max-width: 640px;
    min-width: 270px;
    height: 2000px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #ffffff 40%, #fd9800 75%,#9c0505);
    /* gradient 는 background-image 로 등록 
    liner-gradient : 배경 그라데이션
    */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 640px; /* position 값을 줄 경우 width 값 반드시 넣어줘야 함 */
    min-width: 270px;
    margin: 0 auto;
    background: #fff;
}
h1 { 
    text-align: center;
    height: 46px;
    line-height: 46px;
    padding: 0 80px;
    overflow: hidden;
    white-space: nowrap;
}
h1 a {
    display: block; /* block 으로 하면 text-align:center 가 안 먹음 block 은 한줄을 꽉 채우고 있기 때문에 inline-block 을 줘야 함*/
    width: 147px;
    height: 24px;
    background-image: url(../img/logo_kakaofriends.png);
    background-size: 147px 24px;
    margin: 11px auto 0;
}
h1 a span { display: none;}

.top_left .ico_gnb_menu {
    width: 24px;
    height: 24px;
    background-position: -520px -60px;
}
.top_left, .top_right {
    position: absolute;
    top: 6px;
}
.top_left { left: 12px; }
.top_left > button { padding: 5px; }
.top_left .ico_dot {
    position: absolute;
    top: 5px;
    right: 1px;
}
.top_right { right: 12px;}
.top_right > button { padding: 5px; }

.top_right .ico_search, .top_right .ico_global { 
    width: 24px;
    height: 24px;
}
.top_right .ico_search {
    background-position: -40px -20px;
}
.top_right .ico_global {
    background-position: -440px -60px;
}

nav {
    border-bottom: 1px solid #ccc;
}
.list_tab {
    display: flex;
}
.list_tab li {
    flex: 1;
    text-align: center;
}
.list_tab li a {
    display: block;
    line-height: 43px;
}

.list_tab li a> span {
    position:relative;
}
nav .ico_dot {
    position: absolute;
    top: 0px;
    right: -10px;
}
.list_tab li a.on {
    font-weight: bold;
}
.list_tab li a.on::after{
    display: block;
    content: "";
    height: 4px;
    background: #000;
    position: relative;
    bottom: -1px; /* nav의 border-bottom 에 겹쳐지게 */
}

/* main */

main { 
    padding-top: 95px;
}

article {}
article .box { padding: 20px; }
.article_header { padding-bottom: 15px;}
.article_header .profile {
    float: left;
    display: inline-block;
    width: 45px;
    height: 45px;
    background: url('../img/춘식.png') no-repeat 0 0 / 45px 45px;
    border-radius: 15px;
    text-indent: -9999px;
}
.article_header .info { padding-left: 50px; }
.article_header .info strong {
    display: block;
    line-height: 15px;
    padding-top: 5px;
}
.article_header .info span.txt_time {
    font-size: 13px;
    color: #808080;
    line-height: 15px;
}

.article_con {}
.article_con img {
    width: 100%;
    border-radius: 15px;
}

/* gnb */

#gnb { 
    position: fixed;
    top: 0;
    left: -304px;
    bottom: 0;
    width: 304px;
    background: #fff;
    overflow: hidden; /* 스크롤 감추기 */
    z-index: 150;
}
#gnb .inner{
    width: 304px;
    height: 100%;
    overflow-y: scroll; /* y 축으로 넘쳐날 때는 스크롤이 되도록 */
    padding-right: 17px; /* 스크롤바 너비 */
    box-sizing: content-box; /* 콘텍트 영역을 기준으로 크기를 정함 */

}

.info_user {
    padding: 35px 6px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline; /* 아래쪽 맞추기 */
}
.info_login {
    font-weight: bold;
    font-size: 17px;
    letter-spacing: -2px;
}
.info_inquire {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -1px;
}
.info_user .ico_arrow_right {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -320px 0;
    vertical-align: top;
    margin-top: 1px;
}

.list_menu { padding: 20px 0;}
.list_menu > li {}
.list_menu .btn_menu {
    display: block;
    line-height: 48px;
    padding: 0 10px 0 24px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.line::after {
    display: block;
    content: "";
    height: 3px;
    width: 304px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e2e2e2;
}

.list_menu .ico_dot {
    position: relative;
    bottom: 16px;
}
.list_menu .ico_arrow {
    float: right;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: -360px 0;
    margin-top: 15px;
}
.list_menu .ico_arrow.on{
    background-position: -340px 0;
}

/* character */

.list_sub_wrap { display: none;}
ul.list_character {
    padding: 16px 0 16px 14px;
    font-size: 0; /* 자식요소 inline-block 사용시 여백을 막아주는 방법 */
}
.list_character li {
    display: inline-block; /* 일렬로 float, flex 도 가능 // inline-block 의 경우 자동적으로 여백이 생김 */
    width: 25%;
    padding-bottom: 20px;
}
.list_character li a {
    display: block;
    padding: 0 10px;
}

.img_character {
    display: block;
    width: 100%;
    padding-top: 100%;
    background: no-repeat 50% 50% / cover; /* cover 공간에 꽉 차게 */
    border-radius: 50%;
}
.txt_character { 
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #747475;
    padding-top: 8px;
    margin: 0 -12px 0 -11px;
}

.character01 .img_character {
    background-image: url('../img/character/character_20220531165251_96.png');
}
.character02 .img_character {
    background-image: url('../img/character/character_20220531165311_96.png');
}
.character03 .img_character {
    background-image: url('../img/character/character_20220531165333_96.png');
}
.character04 .img_character {
    background-image: url('../img/character/character_20220531165353_96.png');
}
.character05 .img_character {
    background-image: url('../img/character/character_20220531165418_96.png');
}
.character06 .img_character {
    background-image: url('../img/character/character_20220531165457_96.png');
}
.character07 .img_character {
    background-image: url('../img/character/character_20220818170304_96.png');
}
.character08 .img_character {
    background-image: url('../img/character/character_20220818170326_off.png');
}
.character09 .img_character {
    background-image: url('../img/character/character_20220902083300_5c8d0d8b4a0746899f02bb00a8164e5e.png');
}
.character10 .img_character {
    background-image: url('../img/character/character_20220902083333_88bc2a0c82404615a3fcb5d32d1b401d.png');
}
.character11 .img_character {
    background-image: url('../img/character/character_20220902083414_e1462a8287ba434c842e2efbd6339586.png');
}
.character12 .img_character {
    background-image: url('../img/character/character_20220902083442_5d59dc403fe040939081f935c0f43fe2.png');
}
.character13 .img_character {
    background-image: url('../img/character/character_20220902083613_247109ed8e0b493daeb933da4323ed73.png');
}
.character14 .img_character {
    background-image: url('../img/character/character_20220902083512_12d5ec0b5bdb496f95ae11e584a8db75.png');
}
.character15 .img_character {
    background-image: url('../img/character/character_20220902083542_803584d7a6d84158afc10667f195f750.png');
}
.character16 .img_character {
    background-image: url('../img/character/character_20220902083650_65360bc6749e491899abb72f0fc40426.png');
}
.character17 .img_character {
    background-image: url('../img/character/character_20220531165949_OFF.jpg');
}

/* character hover */

.character01:hover .img_character {
    background-image: url('../img/character/character_20220531165245_96.png');
}
.character02:hover .img_character {
    background-image: url('../img/character/character_20220531165306_96.png');
}
.character03:hover .img_character {
    background-image: url('../img/character/character_20220531165329_96.png');
}
.character04:hover .img_character {
    background-image: url('../img/character/character_20220531165349_96.png');
}
.character05:hover .img_character {
    background-image: url('../img/character/character_20220531165413_96.png');
}
.character06:hover .img_character {
    background-image: url('../img/character/character_20220531165452_96.png');
}
.character07:hover .img_character {
    background-image: url('../img/character/character_20220818170258_96.png');
}
.character08:hover .img_character {
    background-image: url('../img/character/character_20220818170322_on.jpg');
}
.character09:hover .img_character {
    background-image: url('../img/character/character_20220902083255_1259c308e0764d02a4d57c572c50fe95');
}
.character10:hover .img_character {
    background-image: url('../img/character/character_20220902083324_951886218fdf415f9ba9c5c14c5a902f.png');
}
.character11:hover .img_character {
    background-image: url('../img/character/character_20220902083409_ff6afad1d31f4af995142b054b48db29.png');
}
.character12:hover .img_character {
    background-image: url('../img/character/character_20220902083437_a380c0965e544dd9901b386e680c9834.png');
}
.character13:hover .img_character {
    background-image: url('../img/character/character_20220902083608_d691d5f7954a45b4b388777376ffc587.png');
}
.character14:hover .img_character {
    background-image: url('../img/character/character_20220902083507_2001cfae7bf24aca9024f925eed2dfd5.png');
}
.character15:hover .img_character {
    background-image: url('../img/character/character_20220902083537_1c9dd7fd260447c59c1373f5aecc6e41.png');
}
.character16:hover .img_character {
    background-image: url('../img/character/character_20220902083639_29c53fedd5404a3fb877c28ca0a56e85.png');
}
.character17:hover .img_character {
    background-image: url('../img/character/character_20220531165946_ON.jpg');
}

/* category */

ul.list_category {
    padding: 8px 10px 8px 24px;
    font-size: 0;
}

.list_category li {
    display: inline-block;
    width: 50%;
}
.list_category li a {
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #747475;
    padding: 12px 0;
}

/* banner */

.banner {} /* banner 에 padding 값을 주지 않아야 line 이 문제없이 적용됨 */
.banner a {
    display: block;
    padding: 0px 14px;
}
.banner img {
    width: 100%;
    border-radius: 10px;
}

/* login */

.login { margin-bottom: 30px;}
.login a {
    display: block;
    text-align: center;
    padding: 25px;
    color: #747475;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
}
.login .ico_gnb_lock {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -560px -20px;    
    vertical-align: top;
}

/* login popup */

.login_popup { display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 나 자신의 반 */
    width: 310px;
    background: #fff;
    border-radius: 16px; /* 8의 배수로 넣는 게 좋음 */
    text-align: center;
    padding: 45px;
    z-index: 110;
}
.login_popup img { width: 120px; }
.login_popup strong {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: -0.9px;
}
.login_popup p {
    font-size: 14px;
    font-weight: bold;
    padding-top: 8px;
    letter-spacing: -0.8px;
}
.login_popup .btn_kakao {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #ffeb00;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: -0.9px;
    color: #3a1e1e;
}
.login_popup .ico_kakao{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -480px -20px;
    vertical-align: middle;
    margin-top: -4px;
}

.login_popup .btn_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
}
.login_popup .ico_close{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -398px -518px;
}
/* dark */

.dark { display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 100;
}



